{% extends 'Shop/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>Welcome <span>{{request.user|capfirst}}</span></h3>
        <div class="col-sm-3 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'profile' %}" class="btn">Profile</a></li>
                <li class="d-grid"><a href="{% url 'address' %}" class="btn {{active}}">Address</a></li>
            </ul>
        </div>
        <div class="col-sm-7 offset-sm-1">
            <div class="row">
                {% for addr in address %}
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h3>Address {{forloop.counter}}</h3>
                            <p>Name: {{addr.name}}</p>
                            <p>Division: {{addr.division}}</p>
                            <p>District: {{addr.district}}</p>
                            <p>Thana: {{addr.thana}}</p>
                            <p>Vill/Road No: {{addr.villageORroad}}</p>
                            <p>Zipcode: {{addr.zipcode}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}